.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.education-card {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.education-icon {
  flex: 0 0 40px;
  font-size: 1.5rem;
  color: var(--primary);
}

.education-details {
  flex: 1;
}

.education-degree {
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.skill-tag {
  background: var(--glass-alt-light);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  transition: var(--transition);
}

.skill-tag:hover {
  background: var(--primary-darker);
  color: white;
}

/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 1024px) {
  .education-grid {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .skill-tags {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .education-icon {
    flex: 0;
  }
}
