.mobile-swipe-instruction {
  display: none;
}

.card {
  padding: 0;
}

.card-image img {
  width: 100%;
  padding: 10px;
  border-radius: 22px;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}

.card-title {
  color: var(--text-primary);
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.card-text {
  color: var(--text-secondary);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.card-footer {
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: 15px;
  justify-content: space-between;
  border-top: 1px solid var(--glass-border);
}

.card-footer:has(.glass-button:only-child) {
  justify-content: flex-end;
}

.swiper-btn {
  top: 50%;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 3rem;
  background: var(--primary);
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 11;
}

.swiper-btn svg {
  height: 60%;
  width: 60%;
  position: relative;
  top: 20%;
}

.swiper-btn:hover {
  background: var(--primary-darker);
}

.swiper-btn:active {
  transform: translateY(-50%) scale(0.85);
}

.swiper-btn.prev {
  left: -1.5rem;
}

.swiper-btn.next {
  right: -1.5rem;
}

/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 1052px) {
  .card .glass-button svg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobile-swipe-instruction {
    display: block;
  }

  .swiper-btn {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .swiper-btn.flash {
    opacity: 1;
    pointer-events: auto;
    animation: flashButtons 3s ease forwards;
  }

  @keyframes flashButtons {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
