.skills-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}

.skills-content {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
}

.skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-icon {
  font-size: 2rem;
  color: var(--primary);
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.skills-category {
  color: var(--text-primary);
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.skills-item {
  background: var(--glass-alt-light);
  border: 1px solid var(--glass-border);
  color: var(--primary);
  border-radius: 25px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 2;
  transition: var(--transition);
}

.skills-item:hover {
  background: var(--primary-darker);
}

.skills-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.skills-title {
  color: var(--text-secondary);
}

.skills-item:hover .skills-title {
  color: white;
}
/*==================== MEDIA QUERIES ====================*/
@media screen and (max-width: 1023.98px) {
  .skills-container {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  .skills-container > :not(:first-child) {
    display: none;
  }
}
